<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/chitietsach.css">
	<title>Document</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: #f2f2f2;">
	<!--header-->
	<div class="header">
		<img class="header_logo" src="img/header/logo.JPG" alt="">
		<form class="header_form" action="">
			<input type="text" name="" value="" placeholder="Tìm kiếm...">
			<input type="submit" value="Tìm kiếm">
		</form>
		<div class="header_giohang">
			<img style="width:50%;margin-left:10px;" src="https://img.icons8.com/color/55/000000/shopping-cart--v2.png"/>
			<br><span>Giỏ hàng</span>
		</div>
		<div class="header_dangnhap">
			<img style="margin-left:15px;" src="https://img.icons8.com/plumpy/30/000000/change-user-male.png"/>
			<br><a href="">Đăng nhập</a>
		</div>
		<div class="header_dangki">
			<img style="margin-left:12px;" src="https://img.icons8.com/plumpy/30/000000/edit-user-male.png"/>
			<br><a href="">Đăng kí</a>
		</div>
	</div>
	
	<div class="thanhquanli">
			<div class="div1_dulieu">
				<button class="dulieu" ><img src="https://img.icons8.com/wired/30/ffffff/sorting-answers.png"/><span style="font-size:15px;font-weight:bold"> DANH MỤC SÁCH</span></button>
				<div class="div1_dulieu1">
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book.png"/>TRANG CHỦ</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book.png"/>SÁCH MẦM NON</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/wired/20/26e07f/book.png"/>SÁCH THIẾU NHI</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/material-outlined/20/26e07f/book.png"/>SÁCH KĨ NĂNG</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/windows/20/26e07f/bookmark-book--v1.png"/>SÁCH KINH DOANH</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/carbon-copy/20/26e07f/address-book--v1.png"/>SÁCH MẸ VÀ BÉ</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book-reading.png"/>SÁCH VĂN HỌC</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/wired/20/26e07f/book-shelf.png"/>SÁCH THAM KHẢO</a>
				</div>
			</div>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/car.png"/><span>Ship COD Trên Toàn Quốc</span>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/free-shipping.png"/><span>Ship COD Trên Toàn Quốc</span>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/phone-not-being-used.png"/><span>0968832922</span>
		</div>
	<!--body-->
    <p style="margin-left:7%;">Trang chủ / Danh Mục / Sách:</p>
    <div class="chitietsach">
        <img src="img/body/covid.jpg" alt="">
        <div class="noidung">
            <h3>SÁCH:</h2>
            <p>Tác giả:Nhiều tác giả</p>
            <p>NXB: NXB Mỹ Thuật</p>
            <p>Năm xuất bản: 2020</p>
            <p><span style="font-weight:bold;">Mô tả:</span>Làm sao để biết những loài côn trùng nhỏ xíu cũng có trí nhớ? Bộ não của chúng ta lớn đến mức nào? Nam và nữ ai giỏi toán hơn? Với những hỏi thú vị, phần trả lời ngắn ngọn, súc tích cùng hình ảnh minh họa sinh động, ngộ nghĩnh. Cuốn sách “Hỏi nhỏ biết to - Trí lực” sẽ mở ra cho các bạn nhỏ cả một kho tàng tri thức về một thế giới diệu kỳ.Cuốn sách sẽ là nguồn cảm hứng vô tận cho các bạn nhỏ đam mê khám phá, tìm toig, chắp cánh cho những ước mơ bay cao.</p>
            <div class="gia">
                <p style="font-size: 30px;color:red;">19,200đ<p>
                <p style="font-size: 20px;color:#026e36;"><strike><i>34,000</i></strike></p>
                <label style="font-weight: bold;" for="">Số lượng</label><br>
                <input style="padding:5px;width:30px;outline:none;" type="text">
            </div>
            <div class="camket">
                <h4>Dịch vụ của chúng tôi</h4>
				<img style="width:30px;" src="https://img.icons8.com/wired/64/000000/delivery.png"/><p style="margin-top: 10%;">Giao tận nhà trong 3 - 7 ngày làm việc.</p>
				<img style="width: 30px;" src="https://img.icons8.com/ios-filled/50/000000/star--v2.png"/><p style="margin-top: 8%;">Miễn phí giao hàng Toàn Quốc cho đơn hàng trên 300k.</p>
            </div>
			<br><br><br><a class="themgio" href="">THÊM VÀO GIỎ</a>
        </div>
    </div>
	<div class="gioithieu">
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/golf-cart.png"/>
			<p><span style="color: green;font-weight: bold;">MIỄN PHÍ VẬN CHUYỂN</span><br> cho đơn hàng trên 300,000 VNĐ</p>
		</div>
		<div>
			<img src="https://img.icons8.com/android/50/26e07f/money.png"/>
			<p><span style="color: green;font-weight: bold;">SHIP COD TOÀN QUỐC</span><br> Thanh toán khi nhận sách</p>
		</div>
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/happy--v1.png"/>
			<p><span style="color: green;font-weight: bold;">MIỄN PHÍ ĐỔI TRẢ HÀNG</span><br> MIỄN PHÍ ĐỔI TRẢ HÀNG</p>
		</div>
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/phone.png"/>
			<p><span style="color: green;font-weight: bold;">HOTLINE:<br></span>0968832922</p>
		</div>
	</div>

	<!--footer-->
	<div class="footer-1">
		<div style="margin-left: 9%;">
			<img style="width: 250px;" src="img/footer/ads.JPG" alt=""><br>
			<img src="https://img.icons8.com/pastel-glyph/20/ffffff/place-marker--v1.png"/>LK 02 - 03, Dãy B, KĐT Green Pearl, 378 Minh Khai, Hai Bà Trưng, Hà Nội.<br>
			<img src="https://img.icons8.com/metro/20/ffffff/phone.png"/>0968832922
		</div>
		<div>
			<h3>KẾT NỐI VỚI MINH LONG | HÌNH THỨC THANH TOÁN</h3>
			<a><img src="https://img.icons8.com/metro/50/ffffff/facebook-new--v2.png"/></a>
			<a><img src="https://img.icons8.com/small/50/ffffff/youtube.png"/></a>
			<a><img src="https://img.icons8.com/fluent-systems-regular/50/ffffff/instagram-new--v1.png"/></a>
			<a><img src="https://img.icons8.com/ios-filled/50/ffffff/google-plus.png"/></a>

		</div>
	</div>
	<div class="footer-2">
		<p style="margin:0px;">© Bản quyền thuộc về Công ty TNHH MTV TM và DV Văn Hoá Minh Long</p>
	</div>
</body>
</html>