<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/tintuc.css">
	<title>Document</title>
    <style>
        .lienhe{
            float: left;
    width: 64%;height:1450px;
    margin:0px 3% 0px 7%;
    background-color: white;
}
    .lienhe h2{
        margin-left: 10px;
    }
    .lienhe img{
        margin: 15% 15%;
    }
	.lienhe div{
		margin-left: 5%;
	}
    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: #f2f2f2;">
	<!--header-->
	<div class="header">
		<img class="header_logo" src="img/header/logo.JPG" alt="">
		<form class="header_form" action="">
			<input type="text" name="" value="" placeholder="Tìm kiếm...">
			<input type="submit" value="Tìm kiếm">
		</form>
		<div class="header_giohang">
			<img style="width:50%;margin-left:10px;" src="https://img.icons8.com/color/55/000000/shopping-cart--v2.png"/>
			<br><span>Giỏ hàng</span>
		</div>
		<div class="header_dangnhap">
			<img style="margin-left:15px;" src="https://img.icons8.com/plumpy/30/000000/change-user-male.png"/>
			<br><a href="">Đăng nhập</a>
		</div>
		<div class="header_dangki">
			<img style="margin-left:12px;" src="https://img.icons8.com/plumpy/30/000000/edit-user-male.png"/>
			<br><a href="">Đăng kí</a>
		</div>
	</div>
	
	<div class="thanhquanli">
			<div class="div1_dulieu">
				<button class="dulieu" ><img src="https://img.icons8.com/wired/30/ffffff/sorting-answers.png"/><span style="font-size:15px;font-weight:bold"> DANH MỤC SÁCH</span></button>
				<div class="div1_dulieu1">
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book.png"/>TRANG CHỦ</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book.png"/>SÁCH MẦM NON</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/wired/20/26e07f/book.png"/>SÁCH THIẾU NHI</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/material-outlined/20/26e07f/book.png"/>SÁCH KĨ NĂNG</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/windows/20/26e07f/bookmark-book--v1.png"/>SÁCH KINH DOANH</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/carbon-copy/20/26e07f/address-book--v1.png"/>SÁCH MẸ VÀ BÉ</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/ios-filled/20/26e07f/book-reading.png"/>SÁCH VĂN HỌC</a>
					<a style="color:black;" href='HSNV_admin.php?tentk=".$tentk."'><img style="margin-right: 10px;" src="https://img.icons8.com/wired/20/26e07f/book-shelf.png"/>SÁCH THAM KHẢO</a>
				</div>
			</div>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/car.png"/><span>Ship COD Trên Toàn Quốc</span>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/free-shipping.png"/><span>Ship COD Trên Toàn Quốc</span>
			<img style="margin: 0 10px 0 7% ;" src="https://img.icons8.com/wired/30/ffffff/phone-not-being-used.png"/><span>0968832922</span>
		</div>
	<!--body-->
    <p style="margin-left:7%;">Trang chủ / Liên hệ</p>
    <div class="lienhe">
        <img src="img/body/ba.JPG" alt="">
		<div>
			<p><span style="font-weight: bold;">ông ty TNHH Một Thành Viên Thương Mại & Dịch Vụ Văn Hóa Minh Long</span><br><i>Tên giao dịch Quốc tế:</i> Minh Long Trading and Culture Service One Member Company Limited<br><i>Tên viết tắt:</i> MinhLong – TDV Co.,</p><br>
			<p >📗 Địa chỉ: Phòng 501B, Nhà H2, Tập thể Văn Chương, phường Khâm Thiên, quận Đống Đa, Thành phố Hà Nội <br>➡️ Mã số thuế: 010 272 622 4 <br>🏦 Số Tài Khoản:- Số: 170 214 851 003 641 <br> – Ngân hàng Eximbank – Chi nhánh Thủ Đô – Hà Nộ <br> - Số: 94573391 – Ngân Hàng TMCP Á Châu – Chi nhánh Hà Nội.</p><br>
			<p>🏣 - Văn phòng tại Hà Nội <br> 📗 Địa chỉ: LK 02 - 03 khu đô thị Green Pearl, 378 Minh Khai, Hai Bà Trưng, Hà Nội <br> ☎ Điện thoại: (84-4) 6294 3819 <br> 🖱 Website: www.minhlongbook.com.vn</p><br>
			<p>✅Phòng truyền thông - Hotline: 0966.160.925  <br> 📧 Email:  truyenthong@minhlongbook.com.vn</p><br>
			<p>✅Phụ trách Kinh doanh:  Lê Trung Kiên <br> ☎ Mobile: 0987.319.688 – 0982.665.855 <br> 📧 Email: kinhdoanh.pt@minhlongbook.com.vn</p><br>
			<p>🏣 - Chi nhánh tại Tp. Hồ Chí Minh <br> 📗 Địa chỉ: 33 Đỗ Thừa Tự, P. Tân Quý, Q. Tân Phú, Thành phố Hồ Chí Minh. <br> ☎ Điện thoại: (84-8) 6675.1142 – Fax: (84-8) 6267.8342 <br> 📧 Email: cnminhlongbook@gmail.com</p><br>
			<p>✅ Phụ trách Kinh doanh: Lê Xuân Phương <br> ☎ Mobile: 0988.349.179</p>
		</div>
    </div>
    <div class="body-danhmuc">
        <p class="p">DANH MỤC TIN TỨC</p>
        <p class="p1"><a>Tin tức sự kiện</a></p>
        <p class="p1"><a>Điểm tin kinh tế</a></p>
        <p class="p1"><a>ẩm nang mẹ và bé</a></p>
        <p class="p1"><a>Giáo dục tiểu học</a></p>
        <p class="p1"><a>Luyện thi THPT Quốc Gia</a></p><br>

        <p class="p">BÀI VIẾT MỚI NHẤT</p>
        <div style="margin:5px 5px;float: left;">
            <img style="width: 90px;height:70px;float: left;" src="img/body/covid.jpg" alt="">
            <div style="float:left;overflow: hidden;width: 200px;">
                    <a  href="">kjsjegaretrtrrshrjsbkdffdhathtrtksj</a>
                    <p>17/5/2000</p>
            </div>
        </div>
        <div style="margin:5px 5px;float: none;">
            <img style="width: 90px;height:70px;float: left;" src="img/body/covid.jpg" alt="">
            <div style="float:left;overflow: hidden;width: 200px;">
                    <a  href="">kjsjegaretrtrrshrjsbkdffdhathtrtksj</a>
                    <p>17/5/2000</p>
            </div>
        </div>
        <div style="margin:5px 5px;float: left;">
            <img style="width: 90px;height:70px;float: left;" src="img/body/covid.jpg" alt="">
            <div style="float:left;overflow: hidden;width: 200px;">
                    <a  href="">kjsjegaretrtrrshrjsbkdffdhathtrtksj</a>
                    <p>17/5/2000</p>
            </div>
        </div>
        <div style="margin:5px 5px;float: left;">
            <img style="width: 90px;height:70px;float: left;" src="img/body/covid.jpg" alt="">
            <div style="float:left;overflow: hidden;width: 200px;">
                    <a  href="">kjsjegaretrtrrshrjsbkdffdhathtrtksj</a>
                    <p>17/5/2000</p>
            </div>
        </div>

            
    </div>
	<div class="gioithieu">
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/golf-cart.png"/>
			<p><span style="color: green;font-weight: bold;">MIỄN PHÍ VẬN CHUYỂN</span><br> cho đơn hàng trên 300,000 VNĐ</p>
		</div>
		<div>
			<img src="https://img.icons8.com/android/50/26e07f/money.png"/>
			<p><span style="color: green;font-weight: bold;">SHIP COD TOÀN QUỐC</span><br> Thanh toán khi nhận sách</p>
		</div>
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/happy--v1.png"/>
			<p><span style="color: green;font-weight: bold;">MIỄN PHÍ ĐỔI TRẢ HÀNG</span><br> MIỄN PHÍ ĐỔI TRẢ HÀNG</p>
		</div>
		<div>
			<img src="https://img.icons8.com/ios-filled/50/26e07f/phone.png"/>
			<p><span style="color: green;font-weight: bold;">HOTLINE:<br></span>0968832922</p>
		</div>
	</div>

	<!--footer-->
	<div class="footer-1">
		<div style="margin-left: 9%;">
			<img style="width: 250px;" src="img/footer/ads.JPG" alt=""><br>
			<img src="https://img.icons8.com/pastel-glyph/20/ffffff/place-marker--v1.png"/>LK 02 - 03, Dãy B, KĐT Green Pearl, 378 Minh Khai, Hai Bà Trưng, Hà Nội.<br>
			<img src="https://img.icons8.com/metro/20/ffffff/phone.png"/>0968832922
		</div>
		<div>
			<h3>KẾT NỐI VỚI MINH LONG | HÌNH THỨC THANH TOÁN</h3>
			<a><img src="https://img.icons8.com/metro/50/ffffff/facebook-new--v2.png"/></a>
			<a><img src="https://img.icons8.com/small/50/ffffff/youtube.png"/></a>
			<a><img src="https://img.icons8.com/fluent-systems-regular/50/ffffff/instagram-new--v1.png"/></a>
			<a><img src="https://img.icons8.com/ios-filled/50/ffffff/google-plus.png"/></a>

		</div>
	</div>
	<div class="footer-2">
		<p style="margin:0px;">© Bản quyền thuộc về Công ty TNHH MTV TM và DV Văn Hoá Minh Long</p>
	</div>
</body>
</html>