<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    input,select{
        margin: 10px;
        border:1px solid #ddd;
        border-radius: 10px;
        outline: none;
    }
    input[type=submit]:hover{
        background-color: rgb(13, 94, 126);
    }
</style>
<body style="font-family: arial;">
    <div style="width: 55%;height:600px;position: relative;margin: auto;">
        <a style="text-decoration: none;color: #0a6e3b;" href=""><h1>MINH LONG BOOK</h1></a>
        <p><a style="color:rgb(14, 136, 184);text-decoration: none;" href="">Giỏ hàng</a> > Thông tin giao hàng > Phương thức thanh toán</p>
        <h3>Thông tin giao hàng</h3>
        <p>Bạn đã có tài khoản? <a style="color:rgb(14, 136, 184);text-decoration: none;" href="">Đăng nhập</a></p>
        <form action="">
            <input style="padding: 15px 10px; width: 93%;" type="text" name="" value="Họ và tên"><br>
            <input style="padding: 15px 10px;width: 40%;" type="text" name="" value="Email"><input style="padding: 15px 10px;width: 47%;" type="text" name="" value="Số điện thoại"><br>
            <input style="padding: 15px 10px; width:93%;" type="text" name="" value="Địa chỉ"><br>
            <select style="padding: 15px 135px;" name="diadiem" id="">
                <option value="">Hồ Chí Minh</option>
                <option value="">Hà Nội</option>
                <option value="">Đà Nẵng</option>
                <option value="">An Giang</option>
                <option value="">Bắc Giang</option>
                <option value="">Bắc Cạn</option>
                <option value="">Bạc Liêu</option>
                <option value="">Bắc Ninh</option>
                <option value="">Bến Tre</option>
                <option value="">Bình Định</option>
                <option value="">Bình Dương</option>
                <option value="">Bình Phước</option>
                <option value="">Bình Thuận</option>
                <option value="">Cà Mau</option>
                <option value="">Cần Thơ</option>
                <option value="">Cao Bằng</option>
                <option value="">Đắc Lắk</option>
                <option value="">Đắc Nông</option>
            </select>
            <input style="padding: 15px 74px;" type="text" name="" value="Quận\huện"><br>
            <a href="" style="float: left;text-decoration: none;color:rgb(14, 136, 184); margin:30px 45% 0px 2%;">< Giỏ hàng</a>
            <input style="float:left; padding:20px 80px;background-color: rgb(14, 136, 184);color:white" type="submit" value="Tiếp tục thanh toán">
        </form>
    </div>
</body>
</html>