<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../USER/css/trangchu.css">
  <link rel="stylesheet" href="slidesanpham.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>
<body>
    <div class="container-fluid" style="background-color: #d5d5d5;">
        <div class="row" style="height:23px;font-size:13px;color:white;font-weight: bold;margin-top:5px;">
            <div class="col-md-7" style="margin-left:6%;color: black;font-weight: normal;">
                <p>Chào mừng bạn đến với cửa hàng cây giống </p>
            </div>
            <div class="col-md-2" >
                <img src="https://img.icons8.com/fluency-systems-filled/18/ffffff/user.png"/>
                <a style="color: white;text-decoration: none;" href="">Tài khoản</a>
                <img style="margin-left:9%;" src="https://img.icons8.com/material-sharp/18/ffffff/available-updates.png"/>
                <a style="color: white;text-decoration: none;" href="">Sản phẩm</a>
            </div>
            <div class="col-md-2">
                <img style="float: left;" src="https://img.icons8.com/material-rounded/18/ffffff/marker.png"/>
                <p>Hệ thống cửa hàng</p>
            </div>
        </div>
    </div>
    <!-- tìm kiếm -->
    <div style="height:90px;" class="container-fluid pt-4">
        <div class="row " >
            <div class="col-md-2" style="margin-left:6%;">
                <img src="../USER/img/logo.JPG" alt="">
            </div>
            <div class="col-md-7 mt-2" >
                <div class="float-left h-75" style="width:10%;">
                    <select class="form-control h-100"  name="" id="" >
                        <option value="">all</option>
                        <option value="">cây ăn quả</option>
                    </select>
                </div>
                <div class="float-left h-75" style="width:75%;">
                    <input  class="form-control h-100" type="text">
                </div>
                <div class="float-left h-75">
                    <input class="form-control h-100" type="submit" value="Tìm kiếm" style="color:white;background-color:rgb(18, 107, 110);">
                </div>
            </div>
            <div  class="col-md-2 mt-2">
                <p style="border-radius: 99px;color:white;background-color: rgb(18, 107, 110);padding: 4%;width:70%;margin-top: 4%;">Gọi: 0968832922</p>
            </div>
        </div>
    </div>
    <!-- thanh quản lí -->
    <div style="background-color: rgb(18, 107, 110);height:50px;" class="container-fluid" >
        <div class="row">
            <div class="col-md-3" >
                <button type="button" class="btn btn-primary" style="margin-left: 25%;border-radius:0;width: 90%;background-color: #3dafb3;height: 50px;font-size: 17px;font-weight: bold;" data-toggle="dropdown">
                    <img style="margin-right:3%;" src="https://img.icons8.com/ios-filled/25/ffffff/list.png"/> Danh mục sản phẩm
                </button>
                <div class="dropdown-menu" style="width: 82%;z-index:990;" >
                    <div id="danhmuc">
                        <a  class="dropdown-item" href="">> Cây ăn quả</a>
                        <a  class="dropdown-item" href="">> Cây ăn quả trưởng thành</a>
                        <a  class="dropdown-item" href="">> Cây công trình</a>
                        <a  class="dropdown-item" href="">> Cây lấy gỗ</a>
                        <a  class="dropdown-item" href="">> Chế phẩm nông nghiệp</a>
                        <a  class="dropdown-item" href="">> Chế phẩm nông nghiệp</a>
                        <a  class="dropdown-item" href="">> Chế phẩm nông nghiệp</a>
                        <a  class="dropdown-item" href="">> Chế phẩm nông nghiệp</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" >
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" style="margin-left:2%;" href=""><span>Trang chủ</span></a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Giới thiệu</a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Giới thiệu</a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Giới thiệu</a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Sản phẩm</a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Tin tức</a>
                <a class="float-left pt-4 p-2 mr-5 font-weight-bold text-white text-decoration-none" href="">Liên hệ</a>
                <a class="float-left pt-4 p-2 font-weight-bold text-white text-decoration-none" style="margin-left:6%;" href="">Giỏ hàng</a>
                <img class="pt-3" src="https://img.icons8.com/pastel-glyph/25/ffffff/shopping-basket-2--v1.png"/>
            </div>
        </div>
    </div>
    <!-- banner -->
    <div class="container-fluid " style="height:370px;background-color: #f1f1f1;">
        <div style="margin-left:6%;" id="banner-danhsach">
            <a href="">> Cây ăn quả</a>
            <a href="">> Cây ăn quả trưởng thành</a>
            <a href="">> Cây công trình</a>
            <a href="">> Cây lấy gỗ</a>
            <a href="">> Chế phẩm nông nghiệp</a>
            <a href="">> Chế phẩm nông nghiệp</a>
            <a href="">> Chế phẩm nông nghiệp</a>
            <a href="">> Chế phẩm nông nghiệp</a>
        </div>
    </div>
    <div style="position: absolute;top:28%;left:27%;">
        <div id="demo" class="carousel slide" data-ride="carousel" style="width: 100%;">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../USER/img/slide.JPG" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
                </div>   
              </div>
              <div class="carousel-item">
                <img src="../USER/img/slide.JPG" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
                </div>   
              </div>
              <div class="carousel-item">
                <img src="../USER/img/slide.JPG" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
                </div>   
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
    </div>
    <!-- logo -->
    <div class="container-fluid" style="height:165px;">
        <div class="row" style="padding-top:1%;">
            <div class="col-md-3" style="margin-left:7%;border:1px solid #ccc;margin-right:5%;padding:1%;border-radius: 10px;">
                <img style="float:left;width:70px;margin-right:4%;margin-top:3%;" src="../USER/img/logo1.JPG" alt="">
                <div>
                    <h4 style="color: rgb(18, 107, 110);">Thương hiệu lâu đời</h4>
                    <p style="font-size: 15px;">TRÀ sản phẩm chính hãng đã kinh doanh từ năm 1962</p>
                </div>
            </div>
            <div class="col-md-3" style="border:1px solid #ccc;margin-right:4%;padding:1%;border-radius: 10px;">
                <img style="float:left;width:70px;margin-right:4%;margin-top:3%;" src="../USER/img/logo2.JPG" alt="">
                <div>
                    <h4 style="color: rgb(18, 107, 110);">Đổi trả miễn phí</h4>
                    <p  style="font-size: 15px;">Chúng tôi hỗ trợ đổi trả miễn phí với hàng lỗi, hàng kém chất lượng</p>
                </div>
            </div>
            <div class="col-md-3" style="border:1px solid #ccc;padding:1%;border-radius: 10px;">
                <img style="float:left;width:70px;margin-right:4%;margin-top:3%;" src="../USER/img/logo3.JPG" alt="">
                <div>
                    <h4 style="color: rgb(18, 107, 110);">Thanh toán linh hoạt</h4>
                    <p  style="font-size: 15px;">Chúng tôi hỗ trợ thanh toán bằng nhiều hình thức linh hoạt</p>
                </div>
            </div>
        </div>
    </div>
    <!-- san pham -->
    <div id="sanpham" class="container-fluid" style="height:3100px;background-color: #f9f9f9;">
        <div id="sanphambanchay">
            <h4>SẢN PHẨM BÁN CHẠY</h4>
            <a href="">Xem tất cả ></a>
        </div>
        <!--trang cuộn sản phẩm-->
        <div class="container-fluid"> 
            <h3 class="text-center"></h3> 
            <div class="row"> 
             <div class="col-md-12"> 
              <div class="carousel carousel-showmanymoveone slide" id="carousel_alphabe" style="width: 89%;margin-left: 5%;"> 
               <div class="carousel-inner" > 
                <div class="item active" style="width: 100%;"> 
                 <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                     <a  href="http://hocwebgiare.com/">
                        <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                        <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                        <p>10000</p>
                    </a>
                 </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
               </div> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="left carousel-control" href="http://hocwebgiare.com/#carousel_alphabe" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a> <a<a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="right carousel-control" href="http://hocwebgiare.com/#carousel_alphabe" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 
              </div> 
             </div> 
            </div> 
        </div>
        <!-- sản phẩm mói nhất-->
        <div id="sanphambanchay">
            <h4>SẢN PHẨM MỚI NHẤT</h4>
            <a href="">Xem tất cả ></a>
        </div>
        <!--trang cuộn sản phẩm-->
        <div class="container-fluid"> 
            <h3 class="text-center"></h3> 
            <div class="row"> 
             <div class="col-md-12"> 
              <div class="carousel carousel-showmanymoveone slide" id="carousel_number" style="width: 89%;margin-left: 5%;"> 
               <div class="carousel-inner" > 
                <div class="item active" style="width: 100%;"> 
                 <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                     <a  href="http://hocwebgiare.com/">
                        <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                        <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                        <p>10000</p>
                    </a>
                 </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
               </div> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="left carousel-control" href="http://hocwebgiare.com/cpadmin/form_blog.php?ID_blog=226#carousel_number" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="right carousel-control" href="http://hocwebgiare.com/cpadmin/form_blog.php?ID_blog=226#carousel_number" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 
              </div> 
             </div> 
            </div> 
        </div>
        <!-- sản phẩm khuyến mãi -->
        <div id="sanphambanchay">
            <h4>SẢN PHẨM KHUYẾN MÃI</h4>
            <a href="">Xem tất cả ></a>
        </div>
        <!--trang cuộn sản phẩm-->
        <div class="container-fluid"> 
            <h3 class="text-center"></h3> 
            <div class="row"> 
             <div class="col-md-12"> 
              <div class="carousel carousel-showmanymoveone slide" id="carousel_alphabe_2" style="width: 89%;margin-left: 5%;"> 
               <div class="carousel-inner" > 
                <div class="item active" style="width: 100%;"> 
                 <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                     <a  href="http://hocwebgiare.com/">
                        <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                        <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                        <p>10000</p>
                    </a>
                 </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/sanpham.JPG" alt="Image" style="max-width:100%;">
                            <p style="word-wrap:break-word;">sbdgthtrrjsgthhjyjydknkdtdhtrahrthsrrslfnblhshsyjysr</p>
                            <p>10000</p>
                        </a>
                    </div>  
                </div> 
               </div> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="left carousel-control" href="http://hocwebgiare.com/#carousel_alphabe_2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="right carousel-control" href="http://hocwebgiare.com/#carousel_alphabe_2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 
              </div> 
             </div> 
            </div> 
        </div>
        <!-- quảng cáo -->
        <div>
            <img style="margin-left: 6%;border-radius: 5px;height:330px;width:86%;" src="../USER/img/quang cao 2.png" alt="">
        </div>
        <!-- cây ăn quả -->
        <div id="sanphambanchay" style="margin-top:4%;">
            <h4 >CÂY ĂN QUẢ</h4>
            <a style="margin-left:79%;" href="">Xem tất cả ></a>
        </div>
        <div class="container-fluid" >
            <div class="row"></div>
        </div>
        <div class="row" style="margin-left:5%;">
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div> 
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>        
        </div>
        <!-- cây ăn quả trưởng thành-->
        <div id="sanphambanchay" style="margin-top:2%;">
            <h4 >CÂY ĂN QUẢ TRƯỞNG THÀNH</h4>
            <a style="margin-left:65%;" href="">Xem tất cả ></a>
        </div>
        <div class="container-fluid" >
            <div class="row"></div>
        </div>
        <div class="row" style="margin-left:5%;">
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div> 
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>
            <div  class=" col-md-2 thumbnail" style="text-align:center; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);margin: 10px;">
                <a  href="http://hocwebgiare.com/">
                   <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                   <p style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</p>
                   <p>10000</p>
               </a>
            </div>        
        </div>
        <!-- đối tác -->   
    </div>
    <div  style="height:450px;background-color:white;padding:3% 5% 3% 6%;">
        <table><tr >
            <td style="width:37%"><hr></td>
            <td ><h3 style="color: rgb(18, 107, 110);font-weight: bold;"> ĐỐI TÁC CỦA CHÚNG TÔI </h3></td>
            <td style="width:37%"><hr/></td>
        </tr>
        </table>
        <div style="text-align:center;">
            <p>Chân thành cảm ơn các đối tác đã tin tưởng sử dụng sản phẩm cây giống để trao đến tay nhà nông</p>
        </div>
        <!--trang cuộn đối tác-->
        <div class="container-fluid"> 
            <h3 class="text-center"></h3> 
            <div class="row"> 
            <div class="col-md-12"> 
            <div class="carousel carousel-showmanymoveone slide" id="carousel_alphabe_doitac" style="width: 89%;margin-left: 5%;"> 
            <div class="carousel-inner" > 
                <div class="item active" style="width: 100%;"> 
                <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                    <a  href="http://hocwebgiare.com/">
                        <img src="../USER/img/hợp tác/học viện nông nghiệp.png" alt="Image" class="img-responsive" style="max-width:100%;">
                    </a>
                </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/bộ nông nghiệp và phát triển nông thôn.png" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/khu nhà vườn.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div>
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/khuyến nông việt nam.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/tong cuc lam nghiep.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/nông nghiệp hữu cơ.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/nông thôn mới.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
                <div class="item"> 
                    <div class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="text-align:center;margin-right:3%;width:22%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/">
                            <img src="../USER/img/hợp tác/vien môi truong.jpg" alt="Image" style="max-width:100%;">
                        </a>
                    </div> 
                </div> 
            </div> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="left carousel-control" href="http://hocwebgiare.com/#carousel_alphabe_doitac" data-slide="prev"><i class="glyphicon glyphicon-chevron-left" style="background-color: #3dafb3;border-radius: 50%;"></i></a> <a style="background-image: -webkit-gradient(linear,left top,right top,from(white),to(white));width: 3%;height: 95%;" class="right carousel-control" href="http://hocwebgiare.com/#carousel_alphabe_doitac" data-slide="next"><i class="glyphicon glyphicon-chevron-right" style="background-color: #3dafb3;border-radius: 50%;"></i></a> 
            </div> 
            </div> 
            </div> 
        </div>
    </div>
    <!-- tin tức -->
    <div class="container-fluid" style="height: 900px;background-color: #f1f1f1;">
        <h3 style="width:100%;text-align:center;font-weight:bold;color:rgb(18, 107, 110);">Tin tức - Bài viết</h3>
        <div class="container-fluid"> 
            <h3 class="text-center"></h3> 
            <div class="row"> 
            <div class="col-md-12"> 
              <div class="carousel carousel-showmanymoveone slide" id="carousel_number" style="width: 89%;margin-left: 5%;"> 
               <div class="carousel-inner" > 
                <div class="item active" style="width: 100%;"> 
                 <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="overflow:hidden;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                     <a  href="http://hocwebgiare.com/" style="text-decoration: none;">
                        <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                        <h4 style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</h4>
                    </a>
                    <p>10000trrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysrdthth</p>
                 </div> 
                </div> 
                <div class="item"> 
                    <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="overflow:hidden;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/" style="text-decoration: none;">
                           <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                           <h4 style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</h4>
                       </a>
                       <p>10000trrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysrdthth</p>
                    </div>  
                </div> 
                <div class="item"> 
                    <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="overflow:hidden;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/" style="text-decoration: none;">
                           <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                           <h4 style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</h4>
                       </a>
                       <p>10000trrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysrdthth</p>
                    </div>  
                </div> 
                <div class="item"> 
                    <div  class="col-xs-12 col-sm-6 col-md-3 thumbnail" style="overflow:hidden;margin-right:1%;width:24%; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);">
                        <a  href="http://hocwebgiare.com/" style="text-decoration: none;">
                           <img src="../USER/img/sanpham.JPG" alt="Image" class="img-responsive" style="max-width:100%;">
                           <h4 style="word-wrap:break-word;">sbdgthtrrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysr</h4>
                       </a>
                       <p>10000trrjrsdgdhtakjhhbktrahrthsrrslfnblhshsyjysrdthth</p>
                    </div>  
                </div> 
              </div> 
             </div> 
            </div> 
        </div>
        <a href="" style="padding:8px 15px;background-color:rgb(18, 107, 110);margin-left:45%;color:white;border-radius: 3px;">Xem thêm</a>
        <img style="margin-left: 5%;margin-top:5%;height:330px;width:88%;" src="../USER/img/quang cao 3.jpg" alt="">
    </div>
    </div>
    <div class="container-fluid" style="background-color: white;">
        <div class="row" style="width:89%;margin-left:5%;margin-top:5%;">
            <div class="col-md-4" >
                <img src="../USER/img/logo.JPG" alt="">
                <h4>Cửa hàng cây giống</h4>
                <p>Hải cây giống đã chính thức được thành lập. Bằng sự nỗ lực, nhiệt huyết và đam mê cháy bỏng với cây giống Việt, chúng tôi đã tìm tòi, nghiên cứu và cho ra đời hệ thống bán cây giống năng suất cao.</p>
                <br><a href=""><img src="https://img.icons8.com/ios-glyphs/35/4a90e2/facebook-circled--v1.png"/></a>
                <a href=""><img src="https://img.icons8.com/color/35/000000/gmail-new.png"/></a>                
                <a href=""><img src="https://img.icons8.com/ios-filled/35/26e07f/ringing-phone.png"/></a>
                <a href=""><img src="https://img.icons8.com/color/35/000000/youtube-play.png"/></a>
                <br><br>
                <p>Mọi ý kiến đóng góp xin gửi về hòm thư:</p>
                <p style="color: rgb(18, 107, 110);">buithiphap761999@gmail.com</p>
                <br><br>
            </div>
            <div class="col-md-4">
                <h4><i style="font-family:Serif ;font-weight: bold;">Tổng đài tư vấn<span style="background-color: red;color:white;margin-left:3px;padding:1px 5px;">24/7</span></i></h4>
                <h2 style="color: red;font-weight: bold;">1900-0099</h2>
                <p>Chẳng phải đợi lâu, chúng tôi ship hàng mọi miền tổ quốc với phí ship ưu đãi nhất!</p>
                <ul>
                    <li>Địa chỉ: Thôn Ro, Tuyết Nghĩa, Quốc Oai, Hà Nội</li>
                    <li>Hotline: 1900-0099</li>
                    <li>Fanpage: <a href="" style="text-decoration:none;color:rgb(18, 107, 110);">Cây Giống Việt</a></li>
                    <li>Email: buithiphap761999@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Bản đồ đường đi đến cửa hàng</h4>
                <iframe style="width:100%;height: 80%;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d29804.286839080425!2d105.5714264450045!3d20.971146678988614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zdGjDtG4gcm8sIHR1eeG6v3QgbmdoxKlhLCBxdeG7kWMgb2FpLCBow6AgbuG7mWk!5e0!3m2!1svi!2s!4v1627979514048!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>            </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-8 " style="padding:10px 0;">
                <p style="color:rgb(235, 229, 229);margin-left:11%;">Copyright 2021 © Thiết kế website Hà Nội </p>
            </div>
            <div class="col-md-4">
                <p style="color:rgb(235, 229, 229);margin-left:45%;margin-top:3%;">Hotline: 0968 832 922</p>
            </div>
        </div>
    </div>
    <!-- icon -->
    <a href=""><img style="position: fixed;bottom: 5%;right:1%;"src="https://img.icons8.com/material-rounded/50/4a90e2/circled-up.png"/></a>
    <div style="position: fixed;bottom: 2%;left:2%;height:23%;width:20%;">
        <a style="text-decoration:none;" href=""><p style="padding: 4% 8%;background-color: #8eb22b;color: white;border-radius: 50px;width: 40%;">Chat zalo</p></a>
        <a style="text-decoration:none;" href=""><p style="padding: 4% 8%;background-color: #125c9e;color: white;border-radius: 50px;width: 52%;">Chat Facebook</p></a>
        <a style="text-decoration:none;" href=""><p style="padding: 4% 8%;background-color: #d11a59;color: white;border-radius: 50px;width: 70%;">Hotline: 0968.832.922</p></a>
        
    </div>

</body>
<script>
    
    (function(){  
    $('#carousel_number').carousel({ 
    interval: 3600 
    });  
    
    $('#carousel_alphabe').carousel({ 
    interval: 3600 
    });
    $('#carousel_alphabe_2').carousel({ 
    interval: 3600 
    });
    $('#carousel_alphabe_doitac').carousel({ 
    interval: 3600 
    });
    }());
 
    
    
    
    (function(){  $('.carousel-showmanymoveone .item').each(function(){    
    var itemToClone = $(this);
        
    for (var i=1;i<4;i++) {      
    
    itemToClone = itemToClone.next();
        
    if (!itemToClone.length) {        
    itemToClone = $(this).siblings(':first');      
    }
        

    itemToClone.children(':first-child').clone()        
    .addClass("cloneditem-"+(i))        
    .appendTo($(this));    
    }  
    });
    }());
</script>
</html>